/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
	body {
   
	}
	/* Default link styling */
	a:link { color:#007DF5; }
	a:visited { color:#007DF5; }
	a:hover, a:focus { color:#007DF5; }
	a:active { color:#007DF5; }
	
	
	
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

* {
	font-family: 'Lato', sans-serif;
}

body
{
	max-width: 800px;
	min-width: 300px;
	margin: 0px auto;
}

h1 { 
	font-weight: 700;
	font-size: 4em;
	margin: 0;
}
h1 img
{
	width: 1em;
	vertical-align: bottom;
}

header h2 { 
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
}

em
{
	font-weight: 700;
	font-style: normal;
}

main
{
	margin-top: 1em;
	margin-bottom: 5em;
}

main h2 { 
	font-size: 2.5em;
	font-weight: 700;
	margin: 0.5em 0;
	color: #0271FA;
	text-align: center;
}

#testimonials
{
	max-width: 550px;
	margin: 0px auto;
}


a {
	color: #0271FA;
}

img {
	margin: 0;
}

#devices {
	clear: both;
	width: 100%;
	height: 350px;
	background-image: url("../img/devices.png");	
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 1px dashed #ccc;
	background-size: 800px 350px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	#devices {
		background-image: url("../img/devices@2x.png");
	}
}

#appstore
{
	display: block;
	width: 100%;
	text-align: center;
	margin: 1em 0;
}

#appstore img
{
	width: 190px;
	height: 62px;
}

#comingsoon
{
	text-align: center;
	font-size: 0.8em;
}

header {
	text-align: center;
}


section {
	overflow: hidden;
	border-top: 1px dashed #ccc;
	padding: 2em 1em;
}


blockquote {
	border-top: 1px dashed #ccc;
	padding: 0.5em;
	margin: 0.5em 0;
}

blockquote p
{
	font-weight: 1.3em;
}

blockquote footer
{
	text-align: right;
}

nav 
{
	margin-top: 1em;
  	text-align: justify;
	width: 100%;
	text-align: center;
}

nav a {
	margin: 0 1em;
}

section img {
	border: 1px solid #ccc;
	width: 250px;
	height: 200px;
}

.left
{
	text-align: right;
}

.left img
{
	float: left;
	margin: 1em 1em 1em 0em;
}

.right img
{
	float: right;
	margin: 1em 0em 1em 1em;
}

@media (max-width: 550px) { 
	.right img, .left img {
		display: block;
		clear: both;
		float: none;
		margin: 0 auto;
		margin-bottom: 0.5em;
		text-align: center;
	}

	section p {
		clear: both;
		text-align: center;
	}

	section h3 {
		clear: both;
		text-align: center;
	}

	h1 img {
		width: 50%;
		display: block;
		clear: both;
		text-align: center;
		margin: 0px auto;
	}


	#devices {
		display: none;
	}
	
	nav a {
		clear:both;
	}
}


#footer
{
	text-align: center;
	margin: 1em;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
		background:transparent !important;
    }
	html { background-color:#fff; }
	/* Hide navigation */
	nav { display:none; }

	/* Show link destinations in brackets after the link text */
	a[href]:after { content: " (" attr(href) ") "; }
	a[href] {
		font-weight:bold;
		text-decoration:underline;
		color:#06c;
		border:none;
	}
	/* Don't show link destinations for JavaScript or internal links */ 
	a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
	
	/* Show abbr title value in brackets after the text */
	abbr[title]:after { content: " (" attr(title) ")"; }

	figure { 
		margin-bottom:1em; 
		overflow:hidden;
	}

	figure img { border:1px solid #000; }
}
